html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 120px;
  width: 100%;
  background: transparent;

  #logo {
    flex: 1;

    h2 {
      font-size: 2.3rem;
      font-weight: 700;
      color: #b99e64;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }

  #menu {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    cursor: pointer;

    li a,
    li .nav-link {
      font-size: 1.3rem;
      font-weight: 600;
      color: #1e1e1e;
      transition: all ease 0.5s;
    }

    li a:hover,
    li .nav-link:hover {
      color: #c06451;
    }

    .active-link {
      color: #c06451;
    }

    .btn {
      button {
        width: 160px;
        height: 44px;
      }
    }
  }

  .bars {
    background-color: #b99e64;
    color: #fff;
    padding: 10px;
    display: none;

    i {
      font-size: 25px;
    }
  }

  #close {
    color: #000;
    padding: 8px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 50px;
    color: #b99e64;
    background-color: #fff;
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .social-icons {
    display: none;

    @media (max-width: 768px) {
      display: block;
      text-align: center;

      h2 {
        font-size: 1.5rem;
        color: #1e1e1e;
        margin-bottom: 10px;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .icon-container {
          i {
            font-size: 1.5rem;
            color: #1e1e1e;
            transition: color 0.3s ease;
          }

          i:hover {
            color: #c06451;
          }
        }
      }
    }
  }

  button {
    height: 45px;
    width: 150px;
    color: #fff;
    border: 5px;
    background-color: #b99e64;
    font-size: 500;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;

    &::after {
      position: absolute;
      content: "";
      top: -5px;
      left: -38px;
      width: 5%;
      height: 130px;
      background-color: #fff;
      transform: rotate(30deg);
      filter: blur(10px);
      transition: 0.3s;
    }

    &:hover::after {
      left: 110%;
    }
  }

  @media (max-width: 768px) {
    .bars {
      display: block;
    }

    #menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      height: 100vh;
      width: 70%;
      padding: 30px;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);

      li a,
      li .nav-link {
        font-size: 0.8rem;
      }

      #close {
        display: block;
      }
    }

    #menu.open {
      display: flex;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    #menu li a,
    #menu li .nav-link {
      font-size: 1rem; // Adjusted font size for mid-size screens
    }
  }

  @media (min-width: 1025px) {
    .bars {
      display: none;
    }
  }
}
